{% extends '_base.html' %}
{% load static %}
{% block content %}

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slider-main">
                            <h1 class="m-b-20"><strong>IGTU Electronics'E <br> HOŞGELDİNİZ</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-bounce-to-bottom" href="#">ALIŞVERİŞE BAŞLA</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slider-main">
                            <h1 class="m-b-20"><strong>IGTU Electronics'E <br> HOŞGELDİNİZ</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-bounce-to-bottom" href="#">ALIŞVERİŞE BAŞLA</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 slider-main">
                            <h1 class="m-b-20"><strong>IGTU Electronics'E <br> HOŞGELDİNİZ</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-bounce-to-bottom" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->
	
	<!-- Start Sale  -->
	<div class="add-box-sale">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="banner-box style-a"> <img src="{% static 'images/banner-sale-01.jpg' %}" alt="">
						<div class="banner-add-dit">
							<div class="of-tag"> <span class="text-inner">
							40% Sale
						</span> </div>
							<h2>Computer PC</h2>
							<h3>Accessories</h3> <a class="hvr-bounce-to-bottom" href="{% url 'shopPage' %}">SHOP NOW</a> </div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="banner-box style-b"> <img src="{% static 'images/banner-sale-02.jpg' %}" alt="">
						<div class="banner-add-dit">
							<div class="of-tag"> <span class="text-inner">
							60% Sale
						</span> </div>
							<h2>Headphones</h2>
							<h3>Accessories</h3> <a class="hvr-bounce-to-bottom" href="#">SHOP NOW</a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Sale -->

    <!-- Start Products  -->
    
    <!-- End Products  -->

    <!-- Start Blog  -->
    
    <!-- End Blog  -->

	<!-- Start info shop  -->
	<div class="info-box">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-sm-6 col-lg-3">
					<div class="media service-block">
						<div class="service-block-icon"> <i class="fas fa-truck"></i> </div>
						<div class="media-body">
							<h6>FREE SHIPPING &amp; RETURN</h6>
							<div class="service-block-desc">Get free shipping for all orders $99 or more</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="media service-block">
						<div class="service-block-icon"> <i class="fas fa-sync-alt"></i> </div>
						<div class="media-body">
							<h6>MONEY BACK GUARANTEE</h6>
							<div class="service-block-desc">Get the item you ordered, or your money back</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="media service-block">
						<div class="service-block-icon"> <i class="fas fa-shield-alt"></i> </div>
						<div class="media-body">
							<h6>100% SECURE PAYMENT</h6>
							<div class="service-block-desc">Your transaction are secure with SSL Encryption</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="media service-block">
						<div class="service-block-icon"> <i class="fas fa-phone"></i> </div>
						<div class="media-body">
							<h6>ONLINE SUPPORT 24/7</h6>
							<div class="service-block-desc">Chat with experts or have us call you right away</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End info shop  -->
	
    <!-- Start Footer  -->
{% endblock %}
